@model PruebaTecnica.Models.Cuota

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cuota</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MontoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MontoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado.Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pago.IdPago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pago.IdPago)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
