@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Consominios.com</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in orci at metus congue ultricies. Nulla ullamcorper lacus vel nisi sollicitudin, id ornare magna bibendum. Sed viverra diam sed luctus lobortis. Donec eget facilisis tellus, ac laoreet felis. Nulla facilisi. Vestibulum vitae enim ultricies risus lobortis feugiat. Maecenas vitae lectus nec neque fermentum tristique quis a augue. Donec lacinia nunc leo. Fusce feugiat gravida eros id ullamcorper.</p>
    
</div>

<div class="row">
    <div class="col-md-2">
        <a href="@Url.Action("Index", "Clientes")" class="btn btn-primary">
            <img src="https://image.flaticon.com/icons/png/512/2942/2942789.png" height="64px" width="64px" alt="Alternate Text" /> <br />
            <span>
                <strong>Clientes</strong>
            </span>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Index", "Residenciales")" class="btn btn-primary">
            <img src="https://image.flaticon.com/icons/png/512/619/619153.png" height="64px" width="64px" alt="Alternate Text" /> <br />
            <span>
                <strong>Condominio</strong>
            </span>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Index", "Pagos")" class="btn btn-primary">
            <img src="https://image.flaticon.com/icons/png/512/951/951764.png" height="64px" width="64px" alt="Alternate Text" /> <br />
            <span>
                <strong>Pagos</strong>
            </span>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Index", "Cuotas")" class="btn btn-primary">
            <img src="https://image.flaticon.com/icons/png/512/1019/1019607.png" height="64px" width="64px" alt="Alternate Text" /> <br />
            <span>
                <strong>Cuotas</strong>
            </span>
        </a>
    </div>
    <div class="col-md-2">
        <a href="@Url.Action("Index", "Estados")" class="btn btn-primary">
            <img src="https://image.flaticon.com/icons/png/512/718/718970.png" height="64px" width="64px" alt="Alternate Text" /> <br />
            <span>
                <strong>Estados</strong>
            </span>
        </a>
    </div>
</div>